*{
    margin: 0;
    padding: 0;
}

/* delete button styling */
.dlt-btn{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
}